body {
    background-color: antiquewhite;
}
h2 {
    font-size: 2em;
    color: blue;
}
button {
    background-color: blue;
    color: yellow;
    border: 0;
    border-radius: 1em;
}
button:hover {
    background-color: yellow;
    color: blue;
}
p {
    font-size: 1.1em;
}
#carrito p {
    font-weight: bolder;
    font-size: 2em;
}
.juegos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.juego {
    background-color: aqua;
    padding: 3em;
    border-radius: 1em;
}
.nombre {
    font-size: 1.4em;
    font-weight: bolder;
}
.precio {
    color: green;
    font-weight: bolder;
    font-size: 1.2em;
}
input {
    width: 3em;
    height: 1em;
}
.resumen h2 {
    grid-area: titulo;
}
#productos {
    grid-area: productos;
}
#paga {
    grid-area: paga;
    border-left: 0.2em solid black;
}
#botones-compra {
    grid-area: btns;
}
.resumen {
    margin-top: 2em;
    background-color: cornsilk;
    border-radius: 2em;
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "productos productos paga"
    "productos productos paga"
    "productos productos btns";
}