@import url(../css/bootstrap.min.css);
@import url(../css/toastify.css);
@import url(../css/sweetalert2.min.css);
@font-face {
  font-family: minecraft;
  src: url(../fonts/Minecraft.ttf); }

@font-face {
  font-family: bit;
  src: url(../fonts/04B_30__.TTF); }

* {
  margin: 0;
  padding: 0; }

a {
  color: #e6a009 !important;
  text-decoration: none; }

ul, ol {
  list-style: none; }

h1 {
  color: #e6a009;
  font-family: minecraft; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

section {
  margin: 1em; }

main {
  background-color: #e6e6e6e3; }

h2 {
  color: #e6a009;
  font-family: bit; }

h3 {
  color: #e6a009;
  font-family: bit; }

h4 {
  color: #e6a009;
  font-family: bit; }

h5 {
  color: #e6a009;
  font-family: bit; }

h6 {
  color: #e6a009;
  font-family: bit; }

.whatsapp img {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  transition: all 0.2s ease-in-out; }
  .whatsapp img:hover {
    filter: brightness(1.75); }

.productos {
  margin: 1em;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center; }

.swal2-confirm, .producto button {
  margin-bottom: 0.3em;
  border: 0;
  border-radius: 1em;
  padding: 0.4em;
  font-weight: bold;
  color: #0059ff;
  background-color: #e6a009;
  transition: all 0.2s ease-in-out; }
  .swal2-confirm:hover, .producto button:hover {
    color: #e6a009;
    background-color: #0059ff; }

.producto {
  width: 16em;
  height: 25em;
  border-radius: 0.4em;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em; }
  .producto img {
    width: 11em;
    height: 13em;
    margin: 0.5em; }

.precio {
  color: black;
  font-weight: bold; }

.carrito-contenedor {
  position: relative; }

.carrito-fondo {
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #ff0000;
  border-radius: 300em;
  padding: 0.6em;
  font-size: 0.6em;
  left: 1.3em; }
  .carrito-fondo p {
    position: relative;
    top: 0.6em; }

nav {
  background-color: #0059ff; }
  nav .nav-item a {
    font-size: 1.3em; }
  nav .navbar-toggler {
    background-color: #e6a009; }

#carousel h5 {
  font-size: 2em;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }

#carousel p {
  font-size: 1.4em;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }

.productos {
  background-image: url("../img/productos-back.jpg"); }

.resumen-producto {
  grid-area: producto; }

.resumen-cuenta {
  grid-area: cuenta; }

.resumen-contenedor {
  display: grid;
  grid-template-areas: "productos" "cuenta"; }

#comprar {
  margin-bottom: 0.3em;
  border: 0;
  border-radius: 1em;
  padding: 0.4em;
  font-weight: bold;
  color: #0059ff;
  background-color: #e6a009;
  transition: all 0.2s ease-in-out; }
  #comprar:hover {
    color: #e6a009;
    background-color: #0059ff; }

footer {
  display: grid;
  background-color: #0059ff; }
  footer .nav-footer {
    background-color: #003cac; }

.nav-footer {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav-footer ul {
    display: flex;
    flex-flow: wrap; }
    .nav-footer ul li {
      padding: 0.6em; }

.medios-de-pago {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center; }
  .medios-de-pago img {
    width: 4em;
    height: 2.8em;
    padding: 0.3em; }

.copy {
  font-size: 0.8em;
  color: #e6a009;
  margin: 0.5em; }

.medio-de-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6a009;
  font-size: 1.3em; }
  .medio-de-contacto img {
    width: 1em;
    height: 1em;
    position: relative;
    bottom: 0.3em;
    right: 0.2em; }
