* {
    margin: 0;
    padding: 0;
}
a {
    color: $color2 !important;
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
h1 {
    color: $color2;
    font-family: minecraft;
}
@for $i from 2 through 6 {
    h#{$i} {
        color: $color2;
        font-family: bit;
    }
} 
.whatsapp {
    img {
        position: fixed;
        bottom: 1em;
        right: 1em;
        @include size(3em, 3em);
        transition: all 0.2s ease-in-out;
         &:hover {
        filter: brightness(1.75);
        }
    }
}