* {
    margin: 0;
    padding: 0;
}
a {
    color: $color2 !important;
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
h1 {
    color: $color2;
    font-family: minecraft;
}
@for $i from 2 through 6 {
    h#{$i} {
        color: $color2;
        font-family: bit;
    }
} 