* {
    margin: 0;
    padding: 0;
}
a {
    color: $color2 !important;
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
h1 {
    color: $color2;
    font-family: minecraft;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
section {
    margin: 1em;
}
main {
    background-color: #e6e6e6e3;
}
@for $i from 2 through 6 {
    h#{$i} {
        color: $color2;
        font-family: bit;
    }
} 
.whatsapp {
    img {
        position: fixed;
        bottom: 1em;
        right: 1em;
        @include size(3em, 3em);
        transition: all 0.2s ease-in-out;
        &:hover {
        filter: brightness(1.75);
        }
    }
}
.productos {
    margin: 1em;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.producto {
    @include size(16em, 25em);
    border-radius: 0.4em;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
    button {
        margin-bottom: 0.3em;
        border: 0;
        border-radius: 1em;
        padding: 0.4em;
        font-weight: bold;
        color: $color1;
        background-color: $color2;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $color2;
            background-color: $color1;
        }
    }
    .precio {
        color: black;
        font-weight: bold;
    }
    img {
        @include size(11em, 13em);
        margin: 0.5em;
    }
}
.carrito-contenedor {
    position: relative;
}
.carrito-fondo {
    @include size(1em, 1em);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ff0000;
    border-radius: 300em;
    padding: 0.6em;
    font-size: 0.6em;
    left: 1.3em;
    p {
        position: relative;
        top: 0.6em;
    }
}