.resumen-producto {
    grid-area: producto;
}
.resumen-cuenta {
    grid-area: cuenta;
}
.resumen-contenedor {
    display: grid;
    grid-template-areas: 
    "productos"
    "cuenta";
}
#comprar {
    margin-bottom: 0.3em;
    border: 0;
    border-radius: 1em;
    padding: 0.4em;
    font-weight: bold;
    color: $color1;
    background-color: $color2;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $color2;
        background-color: $color1;
    }
}