#carousel {
    h5 {
        font-size: 2em;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    p {
        font-size: 1.4em;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
}
.productos {
    background-image: url("../img/productos-back.jpg");
}